---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="About Us">
  <img
    class="center mx-auto lg:max-w-[1260px] max-w-[352px]"
    src="https://picsum.photos/1260/200"
    alt="placeholder"
  />
  <article class="mt-50 lg:max-w-[1260px] max-w-[352px] mx-auto">
    <section
      class="lg:grid lg:grid-cols-2 lg:grid-rows-3 lg:gap-15 gap-12.5 grid grid-cols-1"
    >
      <div>
        <h2>Food Festival is Denmark's largest food festival</h2>
        <p>
          Over three days, 30,000 food lovers gather at Tangkrogen in Aarhus to
          celebrate the joy of good food. More than 250 food companies,
          producers, artisans, and organizations create a vibrant universe of
          flavors. Guests can explore everything from simple snacks to culinary
          art, with plenty of tastings, workshops, and activities that
          entertain, surprise, and teach new skills. With 50,000 m² of space and
          over 250 unique experiences, there’s something for everyone — kids,
          adults, foodies, and the just plain hungry.
        </p>
      </div>
      <div>
        <img src="https://picsum.photos/id/237/704/446" alt="placeholder" />
      </div>
      <div>
        <img src="https://picsum.photos/id/237/704/446" alt="placeholder" />
      </div>
      <div>
        <h2>Mission and vision</h2>
        <p>
          Food Festival's mission is to educate and renew attitudes towards the
          quality of our food. It educates guests in the understanding of food,
          cooking techniques and meals. The festival provides great experiences
          that focus on eating new, different, sustainable and delicious food.
          The festival brings together the most important chefs, producers and
          food people in Aarhus.  The Food Festival will create national
          awareness of the high level and great potential of Denmark's excellent
          raw materials and production methods. The vision is to be Denmark's
          largest annual food event - both for the general public and the food
          industry.
        </p>
      </div>
      <div>
        <h2>The organization behind Food Festival</h2>
        <p>
          Food Organisation of Denmark (FOOD) is the organization behind the
          Food Festival. FOOD is a non-profit organization that works to make
          Danish gastronomy a path to growth, development and experiences. This
          is done through food experiences, communication and development of
          projects that benefit the entire value chain in the food industry.
          Read more about Food Organisation of Denmark here.
        </p>
      </div>
      <div>
        <img src="https://picsum.photos/id/237/704/446" alt="placeholder" />
      </div>
    </section>
    <!-- Follow and soMe Icons -->
    <section class="flex gap-10 mt-50">
      <div><h1>Follow us</h1></div>
      <div class="max-w-[700px] flex space-x-6">
        <div>
          <img
            width="55"
            height="55"
            src="/public/soMe-icons/facebook.svg"
            alt="Facebook"
          />
        </div>
        <div>
          <img width="55" height="55" src="/public/soMe-icons/x.svg" alt="X" />
        </div>
        <div>
          <img
            width="55"
            height="55"
            src="/public/soMe-icons/instagram.svg"
            alt="Instagram"
          />
        </div>
        <div>
          <img
            width="55"
            height="55"
            src="/public/soMe-icons/linkedin.svg"
            alt="Linkdin"
          />
        </div>
      </div>
    </section>
    <!-- gallery section -->
    <section class="mt-20">
      <div class="grid grid-col-2 grid-rows-3 gap-4">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1432462770865-65b70566d673?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                alt="gallery-photo"
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1629367494173-c78a56567877?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80"
                alt="gallery-photo"
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                alt="gallery-photo"
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1552960562-daf630e9278b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                alt="gallery-photo"
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80"
                alt="gallery-photo"
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://docs.material-tailwind.com/img/team-3.jpg"
                alt="gallery-photo"
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                alt="gallery-photo"
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://docs.material-tailwind.com/img/team-3.jpg"
                alt="gallery-photo"
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1552960562-daf630e9278b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                alt="gallery-photo"
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1552960562-daf630e9278b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                alt="gallery-photo"
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg object-cover object-center"
                src="https://images.unsplash.com/photo-1629367494173-c78a56567877?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80"
                alt="gallery-photo"
              />
            </div>
          </div>
        </div>

        <!-- <div class="col-span-2">
          <img
            width="385.26"
            height="717.02"
            src="https://picsum.photos/id/237/385/717"
            alt="placeholder"
          />
        </div>
        <div class="row-span-2 col-start-2">
          <img
            width="802.63"
            height="342.46"
            src="https://picsum.photos/id/237/802/342"
            alt="placeholder"
          />
        </div>
        <div class="">
          <img
            width="385.26"
            height="342.46"
            src="https://picsum.photos/id/237/385/342"
            alt="placeholder"
          />
        </div>
        <div class="">
          <img
            width="385.26"
            height="342.46"
            src="https://picsum.photos/id/237/385/342"
            alt="placeholder"
          />
        </div>
      </div>  -->
      </div>
    </section>
  </article>

  <script>
    /* Import af Motion One bibliotek */
    import { animate, stagger, inView, scroll } from "motion";
  </script>
</MainLayout>
