---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import TextBody from "../components/TextBody.astro";
import TextHeading from "../components/TextHeading.astro";
import FilterTab from "../components/FilterTab.astro";
import ListElement from "../components/ListElement.astro";

import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Program">
  <article class="max-w-[352px] lg:max-w-[1260px] mx-auto [&_section]:mt-40">
<!-- start heading section -->
    <>
        <div class="relative rounded-lg lg:rounded-3xl overflow-hidden h-48 md:h-64"> <!-- what is the md:h-64 ? -->
          <img
            src="/aboutUs/dish1.jpg"
            alt="About us dish"
            class="w-full h-full object-cover brightness-50"
          />
          <TextHeading
            htmlheading="h1"
            size="h2 lg:h1"
            stylingclasses="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-4xl font-bold font-heading drop-shadow-md text-white"
          >
            Program
          </TextHeading>
        </div>
    </>
<!-- end heading section -->
    
<!-- start text area -->
    <section class="lg:flex gap-20 text-[#00415F]">
      <div class="lg:max-w-98 lg:mr-auto">
        <TextHeading
          htmlheading="h2"
          size="h4"
          stylingclasses="font-heading font-bold mt-10 mb-4">
          Food Festival offers three days of food experiences and inspiration for everyone at Tangkrogen in Aarhus.
        </TextHeading>
      </div>

      <div class="lg:max-w-[675px]">
        <TextHeading
          htmlheading="h2"
          size="h4"
          stylingclasses="font-heading font-bold mt-10">
          Stands
        </TextHeading>
        <p class="font-body ">
          More than 200 stands are ready with tastings and activities in all eight festival areas. Food experiences are in full swing throughout the opening hours on all three days. Stop by each one whenever you feel like it.
        </p>
  
        <TextHeading
          htmlheading="h2"
          size="h4"
          stylingclasses="font-heading font-bold mt-10">
          Activities
        </TextHeading>
        <p class="font-body ">
          Every day the Food Festival offers free workshops, show kitchens, talks, cook-alongs, communal meals and much more.
        </p>
  
        <TextHeading
          htmlheading="h2"
          size="h4"
          stylingclasses="font-heading font-bold mt-10">
          Events
        </TextHeading>
        <p class="font-body">
          Don't miss the festival's big events where we celebrate good taste! Hotdog DM, Cocktail of the Year, DM in Grill.
        </p>
      </div>
    </section>
<!-- end text area -->


<!-- start program section -->
    <section>
     <div x-data="{ aktiv: 'events' }">
       <div class="flex gap-4 my-10 overflow-x-scroll">
  
         <div @click="aktiv = 'events'">
            <FilterTab
              image="/program/icons/events-white.svg"
              text="Events">
            </FilterTab>
         </div>
  
          <div @click="aktiv = 'activities'">
            <FilterTab
              image="/program/icons/activities.svg"
              text="Activities">
            </FilterTab>
          </div>

          <div @click="aktiv = 'stands'">
            <FilterTab
              image="/program/icons/stands.svg"
              text="Stands">
            </FilterTab>
          </div>
  
          <div @click="aktiv = 'map'">
            <FilterTab
              image="/program/icons/map.svg"
              text="Map">
            </FilterTab>
          </div>
       </div>

        <div class="px-8 py-6 bg-orange-100 rounded-lg mb-8 lg:mb-8 lg:rounded-3xl text-[#00415F]">

          <!-- stands section -->
          <div x-show="aktiv === 'stands'" x-transition.duration.300ms>
            <ListElement
              url="/program"
              image="/program/stands/warpigs.webp"
              imagealt="warpigs"
              title="Warpigs"
              location="Dining Hall"
            ></ListElement>
            
            <ListElement
              url="/program"
              image="/program/stands/charm.webp"
              imagealt="charm"
              title="Charm"
              location="Dining Hall"
            ></ListElement>

            <ListElement
              url="/program"
              image="/program/stands/pizzaboys.webp"
              imagealt="pizza boys"
              title="Pizza Boys"
              location="Dining Hall"
            ></ListElement>

            <ListElement
              url="/program"
              image="/program/stands/soci.webp"
              imagealt="socios"
              title="Socios"
              location="Dining Hall"
            ></ListElement>

            <ListElement
              url="/program"
              image="/program/stands/lakeland.webp"
              imagealt="lakelands"
              title="Lakelands"
              location="Dining Hall"
            ></ListElement>

            <ListElement
              url="/program"
              image="/program/stands/nordic-drops.webp"
              imagealt="nordic drops"
              title="Nordic Drops"
              location="Dining Hall"
            ></ListElement>

            <ListElement
              url="/program"
              image="/program/stands/foodfestbars.webp"
              imagealt="food festival bars"
              title="Food Festival Bars"
              location="Dining Hall"
            ></ListElement>
          </div>

          <!-- events section -->
          <div x-show="aktiv === 'events'" x-transition.duration.300ms>
            <ListElement
              url="/program"
              image="/events/cocktail.png"
              imagealt="cocktail_event"
              title="Cocktail of the Year"
              text="For the third year in a row, Food Festival invites six of Denmark's best winemakers and distilleries to a festive competition to create the best new cocktail."
              location="Guild Hall"
              time="Saturday 18:00 - 20:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/events/grill.png"
              imagealt="grill_event"
              title="DM in Grill"
              text="The competition will be fierce when the Food Festival will find Denmark's best grill champion when 19 teams compete for the honorable title 'Danish Grill Champion'."
              location="Dining Hall"
              time="Saturday 10:00 - 19:00"
              time2="Sunday 10:00 - 17:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/events/hotdog.png"
              imagealt="hotdog_event"
              title="Hotdog DM 2024"
              text="Welcome to Denmark's wildest display of gastronomic creativity! 12 of the country's most inventive restaurants compete to serve the best reinterpretation of the national classic."
              location="The Entrepreneurship"
              time="Sunday 12.00 - 16.00"
            ></ListElement>
          </div>

          <!-- activities section -->
          <div x-show="aktiv === 'activities'" x-transition.duration.300ms>
            
            <div class="lg:flex lg:gap-5 hidden">
              <a href="#friday"><Button variant="secondary">Friday - 5/9 </Button></a>
              <a href="#saturday"><Button variant="secondary">Saturday - 6/9 </Button></a>
              <a href="#sunday"><Button variant="secondary">Sunday - 7/9 </Button></a>
            </div>
            <div class="flex gap-5 lg:hidden">
              <a href="#friday"><Button size="tiny" variant="secondary">Fri - 5/9 </Button></a>
              <a href="#saturday"><Button size="tiny" variant="secondary">Sat - 6/9 </Button></a>
              <a href="#sunday"><Button size="tiny" variant="secondary">Sun - 7/9 </Button></a>
            </div>
            <div id="friday">
              <TextHeading
                htmlheading="h2"
                size="h3"
                stylingclasses="font-heading font-bold my-12">
                Friday 5. September
              </TextHeading>
            </div>
            <ListElement
              url="/program"
              image="/program/activities/creampuffs.webp"
              imagealt="cocktail_event"
              title="Fresh cream puffs from scratch"
              text="Stop by Torvet and join us when delicious cream puffs are made from scratch. Nicolai Chokolade invites you inside and hands out a few samples."
              location="The Square"
              time="13:00 - 16:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/program/activities/icecream.webp"
              imagealt="grill_event"
              title="Meatpacking District Ice Cream"
              text="Come and taste 2 different kinds of ice cream made with Unika's fresh ingredients. Fresh and exciting flavors await you."
              location="Food & Kids"
              time="14:00 - 16:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/program/activities/cheese.webp"
              imagealt="hotdog_event"
              title="Unique cheese tasting"
              text="Cheese date on 4 different Arla Unika cheeses, 15 min. duration. Dive into a world of cheeses and find your favorite in record time."
              location="The Entrepreneurship"
              time="16.00 - 17.00"
            ></ListElement>

            <div id="saturday">
              <TextHeading
                htmlheading="h2"
                size="h3"
                stylingclasses="font-heading font-bold my-12">
                Saturday 6. September
              </TextHeading>
            </div>
            <ListElement
              url="/program"
              image="/program/activities/creampuffs.webp"
              imagealt="cocktail_event"
              title="Fresh cream puffs from scratch"
              text="Stop by Torvet and join us when delicious cream puffs are made from scratch. Nicolai Chokolade invites you inside and hands out a few samples."
              location="The Square"
              time="13:00 - 16:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/program/activities/icecream.webp"
              imagealt="grill_event"
              title="Meatpacking District Ice Cream"
              text="Come and taste 2 different kinds of ice cream made with Unika's fresh ingredients. Fresh and exciting flavors await you."
              location="Food & Kids"
              time="14:00 - 16:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/program/activities/cheese.webp"
              imagealt="hotdog_event"
              title="Unique cheese tasting"
              text="Cheese date on 4 different Arla Unika cheeses, 15 min. duration. Dive into a world of cheeses and find your favorite in record time."
              location="The Entrepreneurship"
              time="16.00 - 17.00"
            ></ListElement>

            <div id="sunday">
              <TextHeading
                htmlheading="h2"
                size="h3"
                stylingclasses="font-heading font-bold my-12">
                Sunday 7. September
              </TextHeading>
            </div>
            <ListElement
              url="/program"
              image="/program/activities/creampuffs.webp"
              imagealt="cocktail_event"
              title="Fresh cream puffs from scratch"
              text="Stop by Torvet and join us when delicious cream puffs are made from scratch. Nicolai Chokolade invites you inside and hands out a few samples."
              location="The Square"
              time="13:00 - 16:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/program/activities/icecream.webp"
              imagealt="grill_event"
              title="Meatpacking District Ice Cream"
              text="Come and taste 2 different kinds of ice cream made with Unika's fresh ingredients. Fresh and exciting flavors await you."
              location="Food & Kids"
              time="14:00 - 16:00"
            ></ListElement>
    
            <ListElement
              url="/program"
              image="/program/activities/cheese.webp"
              imagealt="hotdog_event"
              title="Unique cheese tasting"
              text="Cheese date on 4 different Arla Unika cheeses, 15 min. duration. Dive into a world of cheeses and find your favorite in record time."
              location="The Entrepreneurship"
              time="16.00 - 17.00"
            ></ListElement>
          </div>

          <!-- map section -->
          <div x-show="aktiv === 'map'" x-transition.duration.300ms>
            <TextHeading
              htmlheading="h2"
              size="h2"
              stylingclasses="font-heading font-bold mb-4">
              Festival Map
            </TextHeading>
            <p class="lg:max-w-[510px] my-4">
              Explore everything the festival has to offer! Check out the festival map and plan your perfect day. View and download the festival map so you don't miss a single bite or event.
            </p>
            <a href="/program/map.webp" target="_blank"><Button>View map in full size</Button></a>
            <img src="/program/map.webp" alt="map"
            class="rounded-lg lg:rounded-3xl my-8 max-w-full">
          </div>
        </div>
     </div>
    </section>
<!-- end program section -->

<!--  -->



  </article>
</MainLayout>
<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";
</script>
