---
const {image="" , text="" } = Astro.props;
---

<!-- mobile version -->
<button class=" bg-orange-100 focus:bg-orange-500 focus:fill-current text-xs text-orange-500 focus:text-white font-bold rounded-3xl w-25 h-25 
flex flex-col gap-2 justify-center items-center">
    <img src={image} class="max-h-[30px] mx-auto">
    <span>{text}</span>
</button>

<!-- desktop version -->



<!-- <style>
    h4 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    @media (min-width: 1024px) {
        h4 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    }
</style> -->
